html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: hsl(240, 100%, 5%);
}
.header__logo{
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1112px;
    margin: 0 auto;
}

.header{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    transition: .2s all linear;
    z-index: 999;
}

.header_active{
    background: hsl(36, 100%, 99%);
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 10px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 38px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: hsl(5, 85%, 63%);
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.intro {
    margin-top: 164px;
    margin-bottom: 75px;
}

.intro__cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.intro__img {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.intro__article-card-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.intro__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 58px;
}

.intro__article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.btn__read-more {
    background-color: hsl(5, 85%, 63%);
    color: white;
    width: 190px;
    height: 46px;
    border: none;
    box-shadow: none;
}

.btn__read-more:hover,
.btn__read-more:focus,
.btn__read-more:active {
    background-color: hsl(240, 100%, 5%);
}

.right-banner__card {
    background-color: hsl(240, 100%, 5%);
    padding: 26px;

    object-fit: cover;
    overflow: hidden;
}

.right-banner__title {
    color: hsl(35, 77%, 62%);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.news__item {
    margin-bottom: 64px;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.news__title:hover,
.news__title:focus,
.news__title:active {
    color: hsl(35, 77%, 62%);
}

.articles {
    margin-bottom: 70px;
}

.news__text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.article__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.article__card-thum {
    width: 100px;
    height: 125px;
}

.article__card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;

}

.article__card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.article__card-num {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: hsl(233, 8%, 79%);
}

.article__card-title {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.article__card-title:hover,
.article__card-title:focus,
.barticle__card-title:active {
    color: hsl(5, 85%, 63%);
}

.article__card_text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: hsl(236, 13%, 42%);
}

.attribution {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1110px) {
    .wrapper {
        padding: 0 20px;
    }
    .intro__cards {
        display: block;
    }

    .intro__article-card-row {
        display: block;
    }

    .intro__img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }

    .intro__title {
        margin-top: 22px;
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 46px;
    }

    .intro__description {
        margin-bottom: 38px;
    }

    .intro__article-container {
        margin-bottom: 64px;
    }

    .article__cards {
        display: block;
    }

    .article__card {
        margin-bottom: 38px;
    }

    .article__card-num {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 25px;
    }

    .article__card-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    .article__card_text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .burger__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
    }
    
    .burger__line_first {
        top: 0;
    }
    
    .burger__line_second {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .burger__line_third {
        bottom: 0;
    }

    .header__nav {
        width: 265px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 100px 10px;
        background-color: hsl(36, 100%, 99%);
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header__nav_active {
        transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 50%;

    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}